<div class="columns is-hidden-mobile is-centered has-background-black">
    <div class="column is-5-desktop">
      <ul class="has-text-left-desktop has-text-centered-mobile has-text-white">
        <%if(req.hostname==='localhost' || req.hostname==='ultravape.co'){%>
        <!--<li class="is-inline">&nbsp;<a class="has-text-white" href=""><i class='bx bxl-facebook-circle is-size-5'></i></a></li>
        <li class="is-inline"><span class="m-0">|</span></li>-->
        <li class="is-inline">&nbsp;<a class="has-text-white" href="https://www.instagram.com/ultravapeglobal/" target="_blank"><i class='bx bxl-instagram-alt is-size-5'></i></a></li>
        <%}%>
      </ul>
    </div>
    <div class="column is-5-desktop">
      <ul class="has-text-right-desktop has-text-centered-mobile has-text-white">
        <%if(req.hostname==='localhost' || req.hostname==='ultravape.co'){%>
        <li class="is-inline is-size-7-mobile"><a class="has-text-white" target="_blank" href="https://api.whatsapp.com/send?phone=+573134666598">&nbsp;<i class='bx bxl-whatsapp has-text-warning is-size-5 has-text-weight-bold' ></i> +57 313 466 6598&nbsp;</a></li>
        <li class="is-inline is-size-7-mobile"><a class="has-text-white" target="_blank" href="mailto:sales@ultrapharmacorp.us">&nbsp;<i class='bx bxs-envelope has-text-warning is-size-5 has-text-weight-bold'></i>&nbsp;sales@ultrapharmacorp.us&nbsp;</a></li>
        <%}%>
      </ul>
    </div>
  </div>